<footer class="footer">

  <p class="infor"> <%= link_to t("layout.base_title"), root_path %> </p>
  <small>
    <p class="infor">
      &copy; <%= Date.today %> <%= t "layout.framgia" %> <br>
      <%= t "layout.address" %> <br>
      <%= t "layout.phone" %> <%= t "layout.phone-number" %> <br>
    </p>
  </small>
</footer>
