<header class="navbar navbar-fixed-top navbar-inverse header-pages">
  <div class="container">
    <%= link_to t("layout.base_title"), root_path , class: "logo" %>
    <nav>
      <ul class="nav nav-list navbar-right">
        <li class="nav-item">
          <a class="search-book" href="#">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </li>
        <li class="nav-item"><%= link_to t("layout.home"), root_path, 
          class: "nav-item-home" %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to t(".users"), users_path, 
            class: "nav-item-home" %></li>
          <% if current_user.is_admin? %>
            <li class="nav-item"><%= link_to t(".request"), admin_requests_path %></li>
            <li class="nav-item" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t ".book" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".new"), new_admin_book_path %></li>
                <li class="divider"></li>
                <li><%= link_to t(".all_book"), admin_books_path %></li>
              </ul>
            </li>
            <li class="nav-item" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t "layout.category" %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(".new"), new_admin_category_path %></li>
                <li class="divider"></li>
                <li><%= link_to t(".all_category"), admin_categories_path %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to t("request"), requests_path %></li>
          <% end %>
          <li class="nav-item" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "layout.header.account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("layout.header.profile"), current_user %></li>
              <li><%= link_to t("layout.header.setting"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("layout.header.logout"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t("layout.log-in"), login_path %></li>
          <li class="nav-item"><%= link_to t("layout.sign-up"), 
            signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
