<% provide :title, t(".all") %>
<h1><%= t ".all" %></h1>
  <div class="container" >
    <div class="row">
      <%= form_tag admin_books_path, remote: true, method: :get do %>
        <span class="center col-md-3 col-md-offset-1" >
          <%= text_field_tag :search, params[:search],
            placeholder: t(".search"), class: "form-control" %>
        </span>
        <span class=" col-md-1" >
          <%= submit_tag t(".btn_search"), class: "btn btn-primary" %>
        </span>
      <% end %>
      <span class=" col-md-4"></span>
      <span class=" col-md-2">
        <%= link_to t(".new"), new_admin_book_path, class: "btn btn-primary" %>
      </span>
    </div>
  </div>
  <div class="books">
    <%= render "list_book" %>
  </div>

        
